<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" maxRequestLength="2147483647" />
  </system.web>
  <system.serviceModel>
    <services>
      <service behaviorConfiguration="behavior" name="ConsoleApp2.VideoStream">
        <endpoint address="http://localhost:9000/streamserver" binding="basicHttpBinding"
                  bindingConfiguration="HttpStreaming" bindingName="" contract="ConsoleApp2.IVideoStream" />
        <endpoint address="mex" binding="mexHttpBinding"
                  contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:8090/VideoStream" />
          </baseAddresses>
        </host>
      </service>
    </services>
    <bindings >
      <!-- An example basicHttpBinding using streaming. -->
      <basicHttpBinding>
        <binding name="HttpStreaming" 
                 transferMode="StreamedResponse"/>
      </basicHttpBinding>
      <!-- An example customBinding using HTTP and streaming.-->
      <customBinding>
        <binding name="Soap12">
          <textMessageEncoding messageVersion="Soap12WSAddressing10" />
          <httpTransport transferMode="Streamed"
                         maxReceivedMessageSize="67108864"/>
        </binding>
      </customBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <behavior name="behavior" >
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <dataContractSerializer maxItemsInObjectGraph="2147483647" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
